<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>principal</title>
</head>

<body>
    <header>
        <!-- primeira linha do header -->
        <nav class="prin">
            <section class="log">
                <img src="/static/assets/logo.png" alt="" class="logo">
            </section>
            <section class="menu">
                <a href="#"><img src="/static/assets/menu.png" alt=""></a>
            </section>
            <section class="pes">
                <input type="text" placeholder="Pesquisar" class="pesq">
            </section>
            <section class="per" id = "perfil">
                <a href="./login.html"><img src="/static/assets/perfil.png" alt=""></a>
            </section>
            <section id="logout" class= "per"style="display: none;">
                <button class="btn-sair">Sair</button>
            </section>
                
            <section class="car">
                <a href="./Carrinho.html">
                    <p class="quantidade-carrinho" id="quantidade-carrinho"
                        style="color: white;background-color: red;width: 30px;text-align: center;text-decoration: none;border-radius: 5px;margin-bottom: 4px;">
                        0</p>
                    <img src="/static/assets/carrinho.png" alt="">
                </a>
            </section>
        </nav>
        <!-- segunda linha linha do header -->
        <nav>
            <section class="secu">
                <a href="./bovino.html">Bovino</a>
                <a href="./suino.html">Suino</a>
                <a href="./frango.html">Frango</a>
                <a href="./empanados.html">Empanados</a>
                <a href="./variados.html">Variados</a>
                            <a href="./vendas.html" id="linkPainel" style="display:none;">📊 Painel de Vendas</a>
            </section>
            <hr class="linha">
        </nav>
    </header>
    <main>
        <section class="prilinha">
            <p class="textaço">O Tribo da Carne nasceu em 2014, em um pequeno bairro onde tradição e qualidade ainda
                eram levadas a sério. Seu fundador, Marcelo Duarte, era filho e neto de açougueiros. Desde criança, ele
                cresceu entre cortes de carne, aprendendo a respeitar cada detalhe do processo — desde a escolha do gado
                até o atendimento ao cliente. Marcelo sempre teve uma visão diferente. Enquanto muitos viam o açougue
                apenas como um ponto de venda,
                ele enxergava aquilo como uma experiência.</p>
            <img src="/static/assets/açougue.png" alt="" class="aço">
        </section>
        <section class="seglinha">
            <p class="textmar">Para ele, carne não era só alimento — era reunião de família, churrasco de domingo,
                celebração. Durante anos, o Tribo da Carne funcionou como um açougue tradicional, conhecido pela
                qualidade impecável
                e pelo atendimento próximo. Mas tudo começou a mudar em 2020, quando o comportamento dos consumidores
                passou por uma transformação acelerada.</p>
            <img src="/static/assets/marcelo.png" alt="" class="mar">
        </section>
        <section class="prilinha">
            <p class="textaço">Foi aí que Marcelo tomou uma decisão ousada: fechar as portas físicas e transformar o
                Tribo da Carne em um açougue 100% online. No começo, muitos duvidaram. Um açougue sem balcão? Sem
                cliente escolhendo a peça na hora? Parecia arriscado demais. Mas Marcelo apostou em algo que sempre fez
                parte da essência do negócio: confiança. Ele investiu em um sistema de pedidos online simples e
                eficiente, criou um padrão rigoroso de seleção e
                preparo dos cortes, e implementou entregas rápidas, garantindo que a carne chegasse fresca, bem embalada
                e pronta para o consumo.</p>
                <img src="/static/assets/web.png" alt="" class="web">
        </section>
    </main>
    <footer>
        <section class="foo">
            <span class="spfoo">&copy; 2026 Direitos reservados a Tribo da Carne </span>
        </section>
    </footer>
    <script src="/static/home.js"></script>
    <script src="/static/painel_link.js"></script>
</body>

</html>