<!DOCTYPE html>
<html lang="pt-BR">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Mengo</title>
</head>
 
<body>
    <main>
        <section class="voltar">
            <a href="./index.html">
                <img src="/static/assets/voltar.png" alt="" class="">
            </a>
        </section>
        <section class="geral">
            <section class="container">
                <section class="cabecalho">
                    <img src="/static/assets/logo.png">
                    <h1>Login</h1>
                </section>
                <section class="formulario">
                    <section class="form">
                        <label>E-mail</label>
                        <input id="email" type="email" placeholder="email" required>
                    </section>
                    <section class="form">
                        <label class="labEmail">Senha</label>
                        <input id="senha" type="password" placeholder="Senha" required>
                    </section>
                    <section class="rodape">
                        <a id="esqueceu-senha" href="#">Esqueceu a senha?</a>
                        <button id="enviar" type="submit">Entrar</button>
                        <span class="cadastro">Ainda não possuí conta? Clique aqui e
                        <a id="cadastro" href="./cadastro.html">Cadastre-se!</a></span>
                    </section>
                </section>
            </section>
        </section>
    </main>
    <script src="/static/login.js"></script>
</body>
 
</html