<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/menu.css">
    <title>Mengo</title>
</head>

<body>

    <header>
        <!-- primeira linha do header -->
        <nav class="prin">
            <section class="log">
                <img src="./assets/logo.png" alt="" class="logo">
            </section>
            <section class="menu">
                <a href="./index.html"><img src="./assets/menu.png" alt=""></a>
            </section>
            <section class="pes">
                <input type="text" placeholder="Pesquisar" class="pesq">
            </section>
            <section class="per">
                <a href="#"><img src="./assets/perfil.png" alt=""></a>
            </section>
            <section class="car">
                <a href="./Carrinho.html"><img src="./assets/carrinho.png" alt=""></a>
            </section>
        </nav>
        <!-- segunda linha linha do header -->
        <nav>
            <section class="secu">
                <a href="./bovino.html">Bovino</a>
                <a href="./suino.html">Suino</a>
                <a href="./frango.html">Frango</a>
                <a href="./empanados.html">Empanados</a>
                <a href="./variados.html">Variados</a>
            </section>
            <hr class="linha">
        </nav>
    </header>

    <main>
        <section class="principal">
            <img src="./assets/empanados/big-chicken-queijo.png" class="produto" alt="">
            <div class="info-principal">
                <h1 class="nome-produto">Nuggets com Queijo - 1KG</h1>
                <h5 class="desc-produto">Tipo: Empanados</h5>
                <h1 class="valor">R$ XX,XX</h1>
            </div>
            <section class="escolha">
            <select name="" id="embalo">
                <option value="nulo">Selecione a forma de embalo</option>
                <option value="vacuo">Embalado a vácuo</option>
                <option value="padrao">Em plástico para uso rápido</option>
            </select>
            <div class="controle-quantidade">
                <input class="quantidade" type="button" id="menos" value="-">
                <input id="quantidade" name="quantidade" type="number" size="1" maxlength="4">
                <input class="quantidade" type="button" id="mais" value="+">
            </div>
            <section class="sobre">
                <h3>Sobre o Produto</h3>
                <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum animi magnam, distinctio omnis voluptates qui sapiente ex perspiciatis eaque nihil fugiat veritatis incidunt atque dignissimos mollitia quia eum, voluptatibus illum?</p>
                <p class="texto">Facilis quasi dolore corrupti a alias assumenda, commodi praesentium nisi laborum corporis excepturi facere nulla repudiandae error quod reprehenderit officiis, delectus ex. Molestias perferendis officiis tenetur. Possimus dolorum suscipit praesentium.</p>
                <p class="texto">Deleniti, ut enim. Porro facere deserunt, enim possimus, laborum totam ipsam vero cumque, consequatur error sequi quis voluptas esse nobis! In veniam ea voluptate dolor autem iste saepe minus quae.</p>
                <p class="texto">Eligendi commodi suscipit tempore quo? Velit ducimus culpa temporibus dolorem autem repudiandae omnis sequi repellendus dolore doloribus eum molestias odit cupiditate suscipit rerum, eos soluta vitae quam officia expedita esse.</p>
            </section>
        </section>
        </section>
    </main>
</body>

</html>