<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meus Pedidos</title>
    <link rel="stylesheet" href="/static/meusPedidos.css">
</head>
<body>
    <section class="container">
        <div class="check">📦</div>
        <h1>Meus Pedidos</h1>
        <p>Acompanhe seus pedidos realizados.</p>
        <div class="pedido">
            <p>Número do Pedido</p>
            <p class="numero" id="numeroPedido">
                #0000
            </p>
            <p>Status: Pedido aprovado</p>
        </div>
        <a href="index.html" class="btn">
            Continuar comprando
        </a>
    </section>

    <script src="/static/meusPedidos.js"></script>
</body>
</html>